@media screen and (max-width: 978px) {
    .container__menu-title > h1{
        font-size: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 560px) {

    .container__menu-title > h1{
        font-size: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}