<div class="container__content">
    <div class="content__cover">
        <img src="{{photoCover}}"
         alt=""
        >
    </div>

    <div class="content__description">
        <div class="content__title">
            <h1>{{contentTitle}}</h1>
            <a [routerLink]="['']"><i class="fa-solid fa-arrow-left">&nbsp;</i> Voltar</a>
        </div>
        
        <p [ngClass]="{'dark':  !isDarkMode}">
            {{contentDescription}}
            {{contentDescription}}
            {{contentDescription}}
            {{contentDescription}}
            {{contentDescription}}
            {{contentDescription}}
            {{contentDescription}}
        </p>
    </div>
</div>