.container__content{
    margin: 0 auto;
    width: 75%;
    margin-top: 10px;
    clear: both;
}

.content__cover{
    float: left;
}

.content__cover > img{
    margin-top: 10px;
    margin-right: 15px;
    border: 3px solid rgb(123, 123, 123);
    border-radius: 5px;
    width: 500px;
    min-width: 500px;
    height: 300px;
}

.content__title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__description{
    text-align: justify;
}



.content__description > p {
    margin-top: 20px;
    color: rgb(208, 199, 199);
}

@media screen and (max-width: 960px) {
    .content__cover{
        float: none;
    }

    .container__content{
        margin: 0 auto;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    .content__cover > img{
        margin-top: 10px;
        margin-right: 15px;
        border: 3px solid rgb(123, 123, 123);
        border-radius: 5px;
        width: 300px;
        height: 300px;
    }
}