.container__menu-bar {
    display: flex;
    flex-direction: row;
} 

.container__menu-bar > ul{
    display: flex;
    flex-direction: row;
     align-items: center;
    margin-right: 10px;
}

.container__menu-bar > ul > li{
    margin-right: 20px;
    list-style-type: none;
}

.container__menu-bar > ul > li:last-child > button {
    border: 0;
}

.display-mode{
    font-size: 25px;
}

