*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
    color: black;
}

a{
    text-decoration: none;
}

.container__menu-bar > ul > li > button{
    border: #FFFFFF;
}


.bb{
    border: 1px solid red;
}

