/* You can add global styles to this file, and also import other style files */

body{
    min-width: 288px;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: #111111;
    color:white;
}



a{
    text-decoration: none;
}

.dark{
    color: black !important;
}




.bb{
    border: 1px solid red;
}